.nombreLogo{
    background-color: #ffb6d5;
    border-bottom: 2px solid #f9cee0;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1px;
}

#nombreWeb {
    color: rgb(254, 242, 247);
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 4px #ecafff;
    border-bottom: 2px solid #f9cee0;
    padding: 10px;
}

.logo{
    margin-left: 33%;
    margin-top: 1%;
    width: 110px;
    height: 110px;
    position: absolute;
}

/*Esto modifica el titulo de los fideos y que esté en el centro*/
h1 {
    font-family: 'Sora', sans-serif;
    font-size: 50px;
    text-align: center;
}

/*Modifica el tamaño de la letra, el espacio entre lineas y el fondo*/
body{
    font-family: 'Sora', sans-serif;
    font-size: 17px;
    line-height: 2.30;
    background-image: url(./img/chefHat.jpg);
    background-size: 100px;
}

/*Esto crea el rectangulo con el contenido principal (la receta, etc)*/
main{
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 10%;
    margin-bottom: 2%;
    background-color: #fff8f8;
    border: 2px solid #f3b9d2;
    padding: 20px;
}

/*Esto crea el rectangulo para el indice de contenidos*/
.indice {
    border: 1px solid #666363;
    margin: 26px;
    margin-left: 117px;
    margin-right: 117px;
    padding-left: 60px;
}

/*Hacer que el título no esté tan lejos del borde izquierdo*/
.tituloIndice{
    padding-left: 15px;
}

/*Ayuda que el texto esté en el centro*/
#text, #info, #ingredientes, #receta{
    text-align: justify;
}

/*Hacer que específicamente el texto tenga una sangría*/
.texto{
    padding-right: 20px;
    padding-left: 20px;
    text-indent: 5px;
}

/*Hacer que la foto de los fideos y el video estém posicionados
en el mismo lugar*/
.fideos1, .videoFideos{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    display: block;
}

/*Ayuda a que el video esté más espaciado al texto y al borde del rectangulo*/
.videoFideos{
    margin-top: auto;
    margin-bottom: 5%;
}

/*cambia el tamaño de los h2*/
h2{
    font-size: 27px;
}

/*Hace que en los números de los pasos de los ingredientes
tengan un círculo rosa*/
.num{
    background-color: #ffbadc;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    display: flex;
    text-align: center;
    display: inline-block;
    line-height: 40px;
}

.iconTT,.iconIG {
  width: 30px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 30px;
}

.iconYT {
  width: 47px;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;

}


footer {
    display: flex;
    font-size: 20px; 
    align-items: center;
    justify-content: center;
    background-color: #ffb6d5;
    border-top: 2px solid #f9cee0;
    padding: 5px 0;
    margin-bottom: 0;
  }